{% extends 'layout.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lib/icheck/all.css') }}">
{% endblock %}
{% block content_header %}

    <h2>{{ title }}</h2>

{% endblock %}

{% block body_content %}

    <div class="container-fluid">
        {% for message in get_flashed_messages(with_categories=False,category_filter=['warning']) %}
            <div class="alert alert-warning">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <form method="post" class="form-horizontal" role="form" id="push_form">
            {{ form.hidden_tag() }}
            <table class="table table-hover table-bordered table-condensed table-striped">
                <tr>
                    <th>组名</th>
                    <th>主机列表</th>
                </tr>
                {% for groupitem in grouplist %}
                    {% set groupname = groupitem.group_name %}
                    <tr><td><label for="{{ groupname }}"><input type="radio" id="{{ groupname }}" name="group" value="{{ groupname }}">{{ groupname }}
                        </label></td>
                        <td>
                            {% for hostitem in hostlist %}
                                {% set hostname = hostitem.host_name %}
                                {% set hostgroup = hostitem.host_group %}
                                {% if hostgroup == groupname %}
                                    <span class="col-md-2"><label for="{{ hostname }}"><input
                                            id={{ hostname }} type="checkbox"
                                            name="host" value="{{ hostname }}">{{ hostname }}&nbsp;
                                    </label></span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <!--操作按钮-->
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group">
                        {{ form.path.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.path(class="form-control", rows="10", placeholder="线上文件路径") }}
                        </div>

                    </div>
                    <div class="form-group">
                        {{ form.version.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-2">
                            {{ form.version(class="form-control", placeholder="版本号") }}
                        </div>
                        {{ form.username.label(class="col-sm-2 control-label" ) }}
                        <div class="col-sm-2">
                            {{ form.username(class="form-control", placeholder="用户名" ) }}
                        </div>
                        {{ form.password.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-2">
                            {{ form.password(class="form-control", placeholder="密码") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <label class="control-label">
                            <input type="submit" class="btn btn-primary " value="提交">
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">
                            <input type="submit" class="btn btn-danger " value="回滚上一个版本">
                        </label>
                    </div>
                </div>
            </div>
            <!--结果返回-->
            <div class="col-md-6">
                <textarea class="form-control" name="result" id="result" cols="30" rows="20" disabled>{% for message in  get_flashed_messages(with_categories=False,category_filter=['info']) %}{{ message }}{% endfor %}</textarea>
            </div>

        </form>


    </div>



{% endblock %}


{% block js %}
    {{ super() }}
    <script type="application/javascript" src="{{ url_for("static",filename='js/lib/icheck/icheck.js') }}"></script>
{% endblock %}

{% block script %}
    <script>
        var path = window.location.pathname
        $(document).ready(function () {

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            $("#push_form").validate({
                rules: {
                    project: {
                        required: true,
                    },
                    version: {
                        required: true,
                        digits: true,
                    },
                    username: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    project: {
                        required: "请输入项目名称"
                    },
                    version: {
                        required: "请输入版本号",
                        digits: "请输入整数"
                    },
                    username: {
                        required: "请输入用户名"
                    },
                    password: {
                        required: "请输入密码"
                    }
                }
            })
        });
    </script>
{% endblock %}
