{% macro render_sidebar(endpoint, text, icon, icon_size, disabled) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="active"><a href="{{ url_for(endpoint) }}">
            <i class="fa {{ icon }} {{ icon_size }}"></i><span> {{ text }}</span>
        </a>
            <span class="pull-right-container"></span>
        </li>
    {% elif disabled=="True" %}
        <li class="disabled">
            <a href="#">
                <i class="fa {{ icon }} {{ icon_size }}"></i>
                <span>{{ text }}</span>
            </a>
            <span class="pull-right-container"></span>
        </li>
    {% else %}
        <li>
            <a href="{{ url_for(endpoint) }}">
                <i class="fa {{ icon }} {{ icon_size }}"></i>
                <span>{{ text }}</span>
            </a>
            <span class="pull-right-container"></span>
        </li>
    {% endif %}
{% endmacro %}

